{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Iniciar sesión</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert alert-dismissible fade show mt-3" role="alert">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <form method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>

</div>
{% endblock %}
